@{
    ViewBag.Title = "About";
    ViewBag.Message = "Brief description of the site.";

}

<p>
    This is the new version two of the directory site. It is currently under development. I will be transferring over the information from the old site to this one. Once that is complete,
    I will start on adding features to the site. I will be adding some features to make the site better, I hope. These include storing the podcast data in a database instead of an 
    OPML file on the site, and hopefully adding an API for the site data, for future mobile client possibilities.
</p>
