@{
    ViewBag.Title = "Contact";
}

<p>
    Follow the site around the social media networks:
</p>

<address>
    <a href="http://twitter.com/dizpoddir" target="_blank">@@DizPodDir</a><br />
    <a href="http://facebook.com/dispoddir" target="_blank">Facebook Page</a>
</address>

<address>
    <strong>Webmaster:</strong>   <a href="mailto:webmaster@DisneyPodcastDirectory.net">webmaster@DisneyPodcastDirectory.net</a><br />
    @*<strong>Marketing:</strong>*@ <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>