@{
    ViewBag.Title = "Home Page";
}

<p>
    <strong>Welcome to the Disney Podcast Directory</strong>
</p>

<p>
    Thanks for stopping by this site. I got into listening to podcasts in late
    (Nov/Dec) 2004 and was wishing there was a Disney themed podcast. I thought it would
    be cool to start one but at that time I didn't know how to record <em>good quality</em>
    audio on my computer. Then I found MousePod and blogged about it in Jan 2005.
    This started my Disney podcast listening and tracking.
</p>

<p>
    I then learned OPML and put together an OPML file for inclusion into the indiepodder.org
    directory that listed the Disney podcasts I knew of. I do monthly (or so) checks
    for new ones and add them as I find them. If I am missing any please feel free to
    <a href="submit.aspx">submit</a> them here and I will add them as I can.
</p>

<p>
    My wife got me an iPod in Dec 2005, so then my podcast listening grew as I could
    listen to them at times when I was away from the computer. That's right, there is
    <strong>no iPod required</strong> to listen to podcasts. I used to download them
    to a USB memory stick at home and listen to them at work using WinAmp, but now when
    I am on the computer listening, I use iTunes just because of the Smart Playlists
    and the fact I have <a href="http://www.dopplerradio.net">Doppler</a> add the downloaded
    files into iTunes for transfer to my iPod.<br />
</p>


<p>
    Over the years I have moved through multiple iPod devices and iPads. I kept using Doppler and 
    synching from iTunes to my devices, eventually using the WiFi synching once it was introduced by Apple.
    In 2013 sometime I stopped using Doppler and started using RSSRadio on my iPad mini to download podcasts
    directly from my device cutting out iTunes and synching the files. I ended up cutting down majorly on my
    podcast subscription list.
</p>
