@{
    ViewBag.Title = "Site Updates";
    ViewBag.Message = "A quick rundown of change log to the site over it's history.";
}

<div class="row">
    <div class="col-md-1 col-md-offset-1">
        <strong>08/10/2014</strong>
    </div>
    <div class="col-md-8">
        The changes today were some minor cleanup of things missed during rush to get the initial V2 up and posted.
        Also includes starting the change log for V2 of the site. Also added the OPML files that the V1 used to store
        all the podcasts listed on the site. The display of this information is the next <em>planned</em> item to get
        added to the site. But might move up the cleanup of the data ahead of the display.
    </div>
</div>
<div class="row">
    <div class="col-md-1 col-md-offset-1">
        <strong>08/09/2014</strong>
    </div>
    <div class="col-md-8">
        This is the inital post of the V2 of the site. This was not widely publicized at the time, so wasn't
        a major release yet. It is was the base site and a few pages ported over from the V1 of the site. The
        pages that were in this release were: @Html.ActionLink("Home", "Home", "Home"), @Html.ActionLink("Updates", "Updates", "Home"),
        @Html.ActionLink("About", "About", "Home"), @Html.ActionLink("Contact", "Contact", "Home")
    </div>
</div>
<hr/>
<p>
    Below is the history of updates from the V1 of the site.
</p>
<p>
    <strong><span style="text-decoration: underline">2/25/2011</span></strong> : A new SMALL update
</p>
<ul>
    <li>Changed from asking Disney podcasters to friend me on MySpace (YIKES!!) to following <a target="_blank" href="http://twitter.com/dizpoddir">me on Twitter</a>.</li>
    <li>Updated directory page to let users know it is broken and to use the <a href="Subscribe.aspx">Subscribe</a> page for now.</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">2/7/2010</span></strong> : A new round of updates
</p>
<ul>
    <li>Moved "Radio Pixar" to Extinct podcasts</li>
    <li>Added "The Mouse Droppings Podcast" in Podcasts</li>
    <li>Added "Running to Disney" in Podcasts</li>
    <li>Added "DISCAST" in Podcasts</li>
    <li>Added "Disneyman" in Podcasts</li>
    <li>Added "Waltcast" in Podcasts</li>
    <li>Added "Keys to the Kingdom" in Podcasts</li>
    <li>Added "A Disney Freak's Daring Journeys" to podcasts</li>
    <li>Added "Visions Fantastic - Disneyland Source Podcast" to the podcasts</li>
    <li>Added "Travel with Rick" to Podcasts</li>
    <li>Moved "Unofficial Vacation Magic" to Extinct podcasts</li>
    <li>Moved "Travel Girl's Tips for Disney World" to Extinct podcasts</li>
    <li>Moved "WDW Mic'd Up" to Extinct podcasts</li>
    <li>Added "Asherella - The Super Princess" to Podcasts</li>
    <li>Added "Disney Royal Ladies" to podcasts</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">4/20/2009</span></strong> : A new round of updates (YES FINALLY).
</p>
<ul>
    <li><b>RE</b>Added "Zip-A-Dee-Doo-Pod" to the PODCASTS</li>
    <li>UPDATED "Five Minute Magic" in PODCASTS</li>
    <li>Added "Mouse Magic HD" to the PODCASTS</li>
    <li>moved "BritMouse" to the EXTINCT section</li>
    <li>Added "Disney Brit" to the PODCASTS</li>
    <li>Moved "Mickey Room" to EXTINCT section</li>
    <li>Moved "Walt's Girls" to EXTINCT section</li>
    <li>Added "Holiday Road" to PODCASTS</li>
    <li>Added "Communicore" to PODCASTS</li>
    <li>Added "The Mortis Matinee Podcast" to PODCASTS</li>
    <li>Added "The Disney Dudes" to PODCASTS</li>
    <li>Added "WEDway Radio" to PODCASTS</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">12/7/2008</span></strong> : A new round of updates.
</p>
<ul>
    <li>Added "Disney, Indiana" to the PODCASTS</li>
    <li>Added "The Travelears" to the PODCASTS</li>
    <li>Added "A Window To The Magic: Videocast (Standard definition)" feed to "A Window To The Magic" feeds</li>
    <li>Added "Mousetaglia" to the PODCASTS</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">7/14/2008</span></strong> : A new round of updates.
</p>
<ul>
    <li>Updated URLs for "Unofficial Vacation Magic Podcast" in the PODCASTS</li>
    <li>Added "Disney Tidbits by LRWH" to the PODCASTS</li>
    <li>Moved "Fantasmarificast" to the EXTINCT section per the host's request</li>
    <li>Added "WDW or Bust" to the PODCASTS</li>
    <li>Added first UK based fan Disney podcast "The BritMouse Podcast" to the PODCASTS</li>
    <li>Added "Travel Girl's Tips for Disney World" to the PODCASTS</li>
    <li>Updated "WDW News Today" podcast feed URL in the PODCASTS</li>
    <li>Added "Disney Vacation Photos" to the PODCASTS</li>
    <li>Moved "Adventures of a Teenage Disney Geek" to the DPN PODCASTS</li>
    <li>Added "WDW Mic'd Up" to the PODCASTS</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">6/1/2008</span></strong> : A new round of updates.
</p>
<ul>
    <li>Added "Be Our Guest Podcast" to the PODCASTS</li>
    <li>Added another all female hosted podcast, "Those Darn Cats" to the PODCASTS</li>
    <li>Added "Unofficial Vacation Magic Podcast" to the PODCASTS</li>
    <li>Added "Disney: Whenever...Forever" to the PODCASTS</li>
    <li>Added "Plan a Magical Vacation" to the LINKS</li>
    <li>Added "Disney Antique" to the LINKS</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">4/27/2008</span></strong> : A new round of updates.
</p>
<ul>
    <li>Added "Magic Never Ends" to the DPN listings</li>
    <li>Added "Single Rider" to the PODCASTS and DPN listings</li>
    <li>Added "Disney News Weekly" to the PODCASTS</li>
    <li>Added "Thumpercast" to the PODCASTS</li>
    <li>Added "They Might Be Giants Friday Night Family Podcast" to OFFICIAL Disney Podcasts</li>
    <li>Added "Five Minute Magic" to the PODCASTS</li>
    <li>Moved "Bare Necessities" to the EXTINCT section</li>
    <li>Moved "The Brooklyn Mouse" to the EXTINCT section</li>
    <li>Moved "Burnsland.com Disney Railroads Report" to the EXTINCT section</li>
    <li>Moved "Cast Member Informer" to the EXTINCT section</li>
    <li>Moved "Crash Cousins" to the EXTINCT section</li>
    <li>Moved "D-History" to the EXTINCT section</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">3/8/2008</span></strong> : A few updates.
</p>
<ul>
    <li>Added "Disney Frontier" to the LINKS</li>
    <li>Added "Disneyland News Today" to the PODCASTS</li>
    <li>Added "WTTM" to the PODCASTS</li>
    <li>Added "Disney Pin Cast" to the PODCASTS</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">1/22/2008</span></strong> : Bunch of updates.
</p>
<ul>
    <li>Added "Walt's Girls" to the DPN listings</li>
    <li>Removed "MousePod" from the DPN listings</li>
    <li>Moved "MousePod" to EXTINCT PODCASTS</li>
    <li>Added "In Your Ears Experience" to the "Beyond Main Street" listing in the PODCASTS</li>
    <li>Added "In Your Ears Experience" to the "Beyond Main Street" listing in the DPN listings</li>
    <li>Added "The Disney Blog" to the LINKS</li>
    <li>Added "Pixar Planet" to the LINKS</li>
    <li>Added my social networking links to the LINKS</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">1/1/2008</span></strong> : Bunch of updates.
</p>
<ul>
    <li>Added "Pod Disney" to the PODCASTS</li>
    <li>Moved "Disney Resorts Podcast" to EXTINCT PODCASTS</li>
    <li>Moved "Everything Disney's Daily Dose of Disney" to EXTINCT PODCASTS</li>
    <li>Moved "Everything Disney" to EXTINCT PODCASTS</li>
    <li>Moved "Everything Disney Resorts" to EXTINCT PODCASTS</li>
    <li>Moved "The Mouse Lounge" from the Disney Podcast Network to Independent</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">12/23/2007</span></strong> : Added one new show.
</p>
<ul>
    <li>Added "The World for One" to the PODCASTS</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">10/29/2007</span></strong> : Added some links and some new shows.
</p>
<ul>
    <li>Added "The Disney World Blog" to the LINKS</li>
    <li>Added "Disney-Links" to the LINKS</li>
    <li>Added "The Brooklyn Mouse Videocast" to the PODCASTS</li>
    <li>Added "Mouse Comedy Podcast" to the PODCASTS</li>
    <li>Added "Walt's Girls" to the PODCASTS</li>
    <li>Updated Subscription page to have Zune 1-Click subscription option</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">10/9/2007</span></strong> : Added shows from another
    podcast to highlighted shows page.
</p>
<ul>
    <li>Added Disney themed shows from the Mostly Trivial Podcast</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">10/3/2007</span></strong> : quick update.
</p>
<ul>
    <li>Added Disney Cruise Line video podcast.</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">9/29/2007</span></strong> : Some quick updates done
    from the Podcast Expo
</p>
<ul>
    <li>Updated MousePlanet's Listings to reflect them going back to one feed.</li>
    <li>Added current podcast count label to the top of every page.</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">9/11/2007</span></strong> : Some updates today
</p>
<ul>
    <li>Updated the feed for "Inside the DPN"</li>
    <li>Updated feed for "The Q"</li>
    <li>Added "WDW News Today" podcast</li>
    <li>Added "Hannah Montana!" podcast</li>
    <li>Added website link to "Orlando Attractions Magazine"</li>
    <li>Added website link to "WDW Live"</li>
    <li>"Mouse Extra" website added to links</li>
    <li>Added "Disneyland Resort Paris Fans" to links </li>
</ul>
<p>
    <strong><span style="text-decoration: underline">8/29/2007</span></strong> : Added shows from a
    second podcast to highlighted shows page.
</p>
<ul>
    <li>Added Disneyland Soundseeing tour shows from the 3 Ring Podcast</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">7/20/2007</span></strong> : Some more updates today
</p>
<ul>
    <li>Added The Mickey Room to Disney Podcast Network</li>
    <li>Moved Zip-a-de-do-pod to the Extinct category and removed from The DPN podcasts</li>
    <li>
        Added New section to the site to highlight podcasts that are not Disney podcasts
        but have done a show or more with a Disney theme
    </li>
</ul>
<p>
    <strong><span style="text-decoration: underline">7/20/2007</span></strong> : Added new podcast
</p>
<ul>
    <li>Magic Never Ends</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">7/18/2007</span></strong> : Added new podcast
</p>
<ul>
    <li>The Adventures of a Teenage Disney Geek</li>
</ul>
<p>
    Added new Link
</p>
<ul>
    <li>Great Disney World Photos</li>
</ul>
<p>
</p>
<p>
    <strong><span style="text-decoration: underline">6/16/2007</span></strong> : Updated Site
</p>
<ul>
    <li>Added a banner on every page and a link on home page to Podcast Awards</li>
    <li>Removed "A Window To The Magic" from the Disney Podcast Network listings as WTTM is no longer part of the DPN</li>
    <li>Added "Everything Disney's Daily Dose of Disney"</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">6/7/2007</span></strong> : Added new podcasts
</p>
<ul>
    <li>The Meandering Mouse Podcast - Disney Park Adventures (AUDIO ONLY)</li>
    <li>Meandering Mouse Club TV Videocast</li>
    <li>Meandering Mouse Store link</li>
    <li>It's a Great Big Beautiful Podcast</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">5/29/2007</span></strong> : Added new podcasts
</p>
<ul>
    <li>The Trip To Disney Podcast</li>
    <li>Henson.com Official Podcast</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">5/5/2007</span></strong> : Added new podcasts
</p>
<ul>
    <li>Park Hopping Videocast</li>
    <li>Magical Vault Podcast</li>
    <li>Disney Dash Podcast</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">4/22/2007</span></strong> : Added new podcasts
</p>
<ul>
    <li>Muppetcast</li>
    <li>All About the Mouse</li>
    <li>D-History</li>
    <li>Disney Channel Fans Enhanced</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">4/12/2007</span></strong> : Added the Ratatouille Video podcast to the directory.
</p>
<table border="1" width="90%">
    <tr>
        <td align="left">Ratatouille Video Podcast (Added 4/12/2007)</td>
        <td><a target="_blank" href="http://www.wdvision.com/podcast/feeds/7462820.xml"><img src="/images/rss2.png" alt="RSS subscribe logo" border="0" /></a></td>
        <td><a target="_blank" href="itpc://www.wdvision.com/podcast/feeds/7462820.xml"><img src="/images/rss-pod.png" alt="iTunes subscribe logo" border="0" /></a></td>
        <td><a target="_blank" href="http://odeo.com/listen/subscribe?feed=http://www.wdvision.com/podcast/feeds/7462820.xml"><img src="/images/odeoicon.gif" alt="Odeo subscribe logo" border="0" /></a></td>
    </tr>
</table>
<p>
    <strong><span style="text-decoration: underline">4/7/2007</span></strong> : Added some links to the links section.
</p>
<p>
    <strong><span style="text-decoration: underline">3/25/2007</span></strong> :
    I just added a visitor map and a page to submit links for the Links to "Other Disney
    Sites" page. I also added a simple "Links Quick List" page as another option for
    viewing the links.
</p>
<p>
    <strong><span style="text-decoration: underline">3/21/2007</span></strong> : Added second feed for the Everything Disney Video Podcast.
</p>
<p>
    <strong><span style="text-decoration: underline">3/21/2007</span></strong> : I
    am adding a link to Blubrry Jam, a fund raiser for the Boomer Esiason Foundation's
    Exercise For Life scholarship fund.
    You can read all about it at <a href="http://www.blubrryjam.com" target="_blank">BlubrryJam</a>
    or from clicking the image below.<br />
    <a href="http://www.blubrryjam.com" target="_blank">
        <img src="images/BlubrryJam-Ad_125.jpg" border="0" alt="Blubrry Jam Graphic" />
    </a>
</p>
<p>
    <strong><span style="text-decoration: underline">3/12/2007</span></strong> : Added "Disney and More Videocast"
</p>
<p>
    <strong><span style="text-decoration: underline">3/5/2007</span></strong> : Just
    added the "Magical Definition" podcast from Nathan Rose, former co-host of the MouseTunes
    podcast.
</p>
<p>
    <strong><span style="text-decoration: underline">3/3/2007</span></strong> :
    I am joining with the 2719 Hyperion blog's campaign to "Acknowledge The Legacy"
    and celebrate the 25th of EPCOT since Disney will not be doing anything publically.
    Click the graphic below to read the blog post describing his thoughts on the subject.<br />
    <br />
    <a href="http://2719hyperion.blogspot.com/2007/02/acknowledge-legacy-restore-dream.html"
       target="_blank">
        <img alt="Epcot 25th Anniversary Logo" border="0" src="images/Epcot25VerySmall.jpg"
             style="font-weight: bold; text-decoration: underline" />
    </a>
</p>
<p>
    <strong><span style="text-decoration: underline">3/3/2007</span></strong> :
    Added listings for MousePlanet Watch and MouseStation seperate feeds. Updated MousePod
    to reflect updated feed URL. Added "The Q Podcast" (named after the Queues for the
    Disney attractions.
</p>
<p>
    <strong><span style="text-decoration: underline">2/18/2007</span></strong> : Added
    "WDW Radio", updated Big Brians Podcast to its new name "Mousing It Up". Also added
    "Family Fun TV" Video podcast to the Official Disney podcasts.
</p>
<p>
    <strong><span style="text-decoration: underline">ADDED 2/08/2007</span></strong> :
    Copied "The MousePod" to the Disney Podcast Network's directory, as he has joined
    the DPN! It should be a great addidtion to the
    fine collection of Disney podcasts
    and vidcasts that currently make up the DPN.
</p>
<p>
    <strong><span style="text-decoration: underline">ADDED 1/27/2007</span></strong> : A bunch of updates today...
</p>
<ul>
    <li>Moved "The Mousepod" back to the active podcasts. Welcome back Jesse!</li>
    <li>Moved the Netcot MP3 version to the extinct category as Van will be stopping production of the MP3 version and ONLY be producing the enhanced version.</li>
    <li>Added "At the Main Street Cinema VidCast" by Greg from MiceCast and Imagineering My Way.</li>
    <li>Updated the Northen Mouse Podcast listing to reflect thier new feed.</li>
    <li>Added "Hannah Montana 101" podcast</li>
    <li>Added "What If Labs" podcast</li>
    <li>Added "Disney Channel 101" podcast</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">ADDED 1/17/2007</span></strong> : Two new podcasts added: "Crash Cousins"
    and "Magic Mouse".
</p>
<p>
    <strong><span style="text-decoration: underline">ADDED 1/16/2007</span></strong>:
    Last night I made hotel reservations to be at the Disney Podcast Network's WestFest at Disneyland in late April.
    Click the graphic on the home page to view the thread on the DPN forums about Westfest.
</p>
<p>
    <strong><span style="text-decoration: underline">ADDED 1/13/2007</span></strong>:
    Added MouseGeek Podcast, and updated The Big D in HD video podcast to new feed URL.
</p>
<p>
    <strong><span style="text-decoration: underline">ADDED 1/11/2007</span></strong>:
    Added another beginners guide to podcasting. <a href="http://www.mouseplanet.com/misc.php?pg=podcast#beginners">
        This one
    </a> is a nice one by a Disney podcaster, Mike Demopoulos, CO Host of
    Mouse Planet's MouseStation.
</p>
<p>
    <strong><span style="text-decoration: underline">ADDED 1/8/2007</span></strong>:
    Today's update is moving Magical Moment Podcast to the extinct podcast section,
    and adding in it's replacement <a href="http://www.mouseplanet.com/podcast">MouseStation</a>
    from <a href="http://www.mouseplanet.com">MousePlanet.com</a>
</p>
<p>
    <strong><span style="text-decoration: underline">ADDED 12/12/2006</span></strong>:
    I just added several podcasts to the directory today I found in the iTunes podcast directory. There is also an addition that was
    submitted a few days ago and was added on the 10th
</p>
<p>
    Official Disney Company
</p>
<ul>
    <li>DCOM Extras</li>
    <li>Shorty McShort's Shorts</li>
</ul>
<p>
    UN Official
</p>
<ul>
    <li>Disney Channel Fans</li>
    <li>Dreamfinder Forever Video podcast</li>
    <li>MouseTips</li>
    <li>Northern Mouse</li>
</ul>
<p>
    <strong><span style="text-decoration: underline">ADDED 12/03/2006</span></strong>:
    I added two new pages to the site today to make it easier to subscribe to the podcasts
    listed. If there are any other services you think should be on the subscribe pages
    please let me know and I will look into the possibility of adding it. Check out
    the list for <a href="Subscribe.aspx">all podcasts</a> and the <a href="DPNSubscribe.aspx">
        Disney Podcast Network
    </a> as well.
</p>
