@{
    ViewBag.Title = "Site Updates";
}


<strong>2/25/2011</strong>: Made a SMALL update, check out the <a href="updates.aspx">updates page</a>.
    I still have a bunch of new podcasts to add, but will be redesigning the site structure to enable MUCH faster updates.<br />
<br />
<strong>2/7/2010</strong>: Made a another round of updates, check out the <a href="updates.aspx">updates page</a>.
    And I still have a bunch of new ones to add as well but am out of time for now.<br />
<br />
<strong>4/20/2009</strong>: Made a another round of updates, check out the <a href="updates.aspx">updates page</a>.
    And I still have a bunch of new ones to add as well but am out of time for now.<br />
<br />
<strong>12/7/2008</strong>: Made a another round of updates, check out the <a href="updates.aspx">updates page</a>.<br />
<br />
<strong>6/1/2008</strong>: Made a another round of updates, check out the <a href="updates.aspx">updates page</a>.<br />
<br />
<strong>4/27/2008</strong>: Made a another round of updates, check out the <a href="updates.aspx">updates page</a>.<br />
<br />
<strong>3/8/2008</strong>: Made a couple of updates, check out the <a href="updates.aspx">updates page</a>.<br />
<br />
<strong>1/1/2008</strong>: Made a bunch of updates, check out the <a href="updates.aspx">updates page</a>.<br />
<br />
<strong>12/23/2007</strong>: Added a new podcast, check out the <a href="updates.aspx">updates page</a>.<br />
<br />
<strong>10/29/2007</strong>: Added some links and a few new podcasts. Also added Zune 1-Click and player options to the subscribe pages.<br />
<br />
<strong>10/9/2007</strong>: Added another podcast to the highlighted podcasts page. Mostly Trivial podcast has done two Disney themed shows.<br />
<br />
<strong>9/29/2007</strong>: Did some updates on the site. One of them in response to a question I was asked several time so far this weekend at the Podcast
    and New Media Expo which I am currently attending. That question is "how many podcasts are listed?", now I can give a close guess. The
    number listed on the site is not completely accurate as it is an automated counted based on the OPML file I have, and soem podcasts have more than
    one feed type listed.<br />
<br />
<strong>9/11/2007</strong>: I did some updates to the site's podcast listings and to the listed links. Check out the <a href="Updates.aspx">Site Updates</a>
    page for details.<br />
<br />
<strong>8/15/2007</strong>: Congratulations to Lou and his WDW Radio podcast. The Podcast Awards annouced the winners today,
    in all but the Best Produced and Fans Choice categories, and The WDW Radio Show was named the winner in the Travel category.
    We will have to wait for the actual awards ceremony in late September, which I will be attending, to see if Inside the Magic
    wins for Best Produced.<br />
<br />
<strong>8/13/2007</strong>: The Podcast Awards Voting ended a couple days ago and the winners will be announced in
    two days on the 15th of August. Let's hope some of the Disney podcasts make an appearance in that list of winners.<br />
<br />
    Some facts posted on the PodcastAwards site:
<ul>
    <li>1.3 Million Unique People Voted on the slate.</li>
    <li>Most votes Submitted in one hour 22,109</li>
    <li>Average person voted 3 times for a show over 15 days</li>
</ul>

<strong>7/25/2007</strong>: Congratulations to the several Disney fan podcasts making the slate for
    the 2007 <a href="http://www.podcastawards.com" target="_blank">Podcast Awards</a>.
    The voting begins on July 28th and goes through August 11th, and awards presentation will be at the
<a href="http://www.newmediaexpo.com/">Podcast and New Media Expo</a> in September. <br />
<br />
    In the Travel Category the following podcasts are on the slate of nominated podcasts:<br />
<ul>
    <li>The DIS Unplugged</li>
    <li>The Meandering Mouse</li>
    <li>WDW Radio</li>
</ul>
    In the Best Produced Category, Inside The Magic made the slate. And congratulations also are going to
<a href="http://www.comedy4cast.com" target="_blank">Comedy4Cast</a>, who although is not a Disney podcast, he has done several
<a href="highlights.aspx">shows with a Disney theme</a> and is a friend of The Disney Podcast Directory.<br />
<br />
<strong>7/20/2007</strong>: I added a couple podcasts and a new link to the site this week.
    Check out the <a href="Updates.aspx">Site Updates</a> to see what they were.<br />
<br />
<strong>7/18/2007</strong>: The nomination process has closed for the 2007 Podcast
    Awards and the submissions are currently under review. Keep an eye out to see which,
    if any, Disney podcasts make it to the voting stage.<br />
<br />
<strong>6/16/2007</strong>: Please support whatever you favorite Disney podcast or video podcast and consider it for nomination
    for the 2007 Podcast Awards. You can click the banner at the top left of each page or go to
<a href="http://www.PodcastAwards.com">PodcastAwards.com</a> to nominate them once the nomination
    process opens 7/1/2007.<br />
<br />
